/* HOMEPAGE */

.home-header {
  font-size: 50px;
  text-align: center;
  margin: 100px 0;
}

.quote-icon {
  font-size: 50px;
  color: green;
  text-align: center;
}

.intro-text {
  text-align: center;
  font-size: 25px;
  width: 80%;
  margin: 0 auto;
}

.intro-text span {
  font-size: 15px;
}

.secondary-text {
  font-size: 17px;
}

.image-s {
  max-width: 700px;
}

.image-s img {
  max-width: 350px;
  margin: auto;
}

/* ALL RECIPES */

.olderposts {
  padding: 10px 30px;
  color: white;
  background-color: grey;
  border-radius: 200px;
  display: flex;
  margin: 100px auto;
}

.share-section {
  display: flex;
  flex-direction: column;
}

.like-button {
  display: flex;
}

.likebutton {
  padding: 0 20px;
  margin: 8px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  margin-right: 10px;
}

/* SALADS PAGE */

.salads-images p {
  font-size: 20px;
}

.salads-images .images {
  margin: 0 auto;
}

.salads-images .images img {
  width: 380px;
}

/* ABOUT PAGE */
.intro-text-about {
  font-size: 23px;
  width: 80%;
  margin: 0 auto;
}

.ending-text-about {
  font-size: 23px;
  width: 100%;
  margin: 0 auto;
}

.image-s-about {
  columns: 300px;
  max-width: 610px;
  margin: 40px 0;
}

.image-s-about img {
  width: 300px;
}
